.global-board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 910px;
  height: 928px;

  background-color: black;
}

.global-board-grid > app-board {
  background-color: white;
}
